@{
    ViewBag.Title = "Home";
}

<h1>Welcome to the game reviewer</h1>
<h2>To do list(since I can't think of anything to put here yet</h2>
<ul>
    <li>Finish this page</li>
    <li>Get it working on azure</li>
    <li>Install a new copy of visual studio</li>
    <li>get filter by game working</li>
    <li>whatever's due next sunday</li>
    <li>Make the review portion complete with a star rating system</li>
    <li>update design</li>

    Credits for design help go to Northern michigan brewery reviewer
</ul>